<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
</head>
<body>
    <h1> Страница пользователя: <%= username %>. </h1>
    <h2> ID: <%= id %></h2>
    <h3> hobby: <%= hobbies[id - 1] || 'Books' %></h3>
    <% if (username.toLowerCase() == 'john') { %>
        <p>Hobbies variants:</p>
        <ul>
            <% hobbies.forEach( el => { %> <!-- именно forEach -->
                <li><%= el %></li>
            <% }) %>
            <li> Books </li>
        </ul>
    <% } else { %>
        <p> <%= username %> </p>
     <% }  %>
</body>
</html>