<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
    <title>Express</title>
</head>
<body>
    <%- include('components/header') -%>
    <main>
        <h1> Страница пользователя: <%= username %>. </h1>
        <h2> ID: <%= id %></h2>
        <h3> hobby: <%= hobbies[id - 1] || 'Books' %></h3>
        <% if (username.toLowerCase() == 'john') { %>
            <h2>Hobbies variants:</h2>
            <ul>
                <% hobbies.forEach( el => { %> <!-- именно forEach -->
                    <li><%= el %></li>
                <% }) %>
                <li> Books </li>
            </ul>
        <% } else { %>
            <p> <%= username %> </p>
        <% }  %>
    </main>

</body>
</html>